{% extends 'file_sharing/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<p>Добро пожаловать на веб-приложение, созданное для эффективного обмена учебными материалами между преподавателями и студентами.
    Данный инструмент призван упростить процесс доступа к знаниям.
    Приложение - результат реализации выпускной квалификационной работы.
</p>
<h2>
    Об авторе
</h2>
<p>
    Автором проекта является выпускница факультета компьютерных технологий и прикладной математики
    направления 02.03.02 «Фундаментальная информатика и информационные технологии» Гончаренко Валентина Викторовна (бакалавриат 2024 год)
    </p>
<p>
    Надеюсь, что приложение станет незаменимым помощником учебном процессе, облегчит обмен знаниями и сделает его более продуктивным.
</p>
{% endblock %}

